@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
  font: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, rgb(91, 250, 219), rgb(248, 97, 162));
}

h1 {
  font: 600 3.5em 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

p {
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.2em;
  font-weight: bolder;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-style: italic;
  height: 2.7rem;
  border: none;
  border-radius: 10px;
  color: rgb(211, 211, 211);
  background: rgba(0, 0, 0, 0.9);
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0.3rem rgba(65, 65, 65, 0.65);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

h3 {
  font: 900 1em 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}
